.containerXXX{
	border: 7px solid grey;
	padding: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

h4{
	text-align: top;
	color: blue;
	font-family: 'Major Mono Display', monospace;
}
.first{
	border-left: 3px solid blue;
	padding-left: 3px;
	border-left-height:2px;
}
.second{
	border-bottom: 2px solid lightgrey;
	padding-bottom: 5%;
	
}
p{
	font-family: 'Charm', cursive;
}